@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* HTML Section */
html {
    overflow-x:hidden 
} 

/* Body Section */
body {
    min-height: 100vmax;

    position: sticky;

    overflow-x: hidden;
    background-color: #f4f4f4;
}

body::-webkit-scrollbar {
    display: none;
}

/* header Section */
header {
    padding: 8px;
    background-color: #1e1e1e;

    position: sticky;
    top: 0;
    
    z-index: 3;
    text-align: center;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

/* Navigation Head */
nav a:hover {
    color: #c3c3c3;
}

nav {
    position: absolute;
    left: 14%;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5vmax;
    transition: 0.3s ease;
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        left: 11.5%;
        top: 20%;
    }

    nav a {
        color: white;
        text-decoration: none;
        margin: 0 5px;
        font-size: 2vmax;
        transition: 0.3s ease;
    }
  }
  
  @media (max-width: 480px) {
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        left: 11.5%;
        top: 20%;
    }

    nav a {
        color: white;
        text-decoration: none;
        margin: 0 5px;
        font-size: 2vmax;
        transition: 0.3s ease;
    }
  }

/* Hamburg Menu Section */
.D-01 {
    height: 28px;
    width: 36px;

    top: 5px;
    left: 5px;
    position: absolute;
}

.D-01 span {
    width: 36px;
    height: 2px;

    border: none;
    border-radius: 8px;

    left: 2px;
    position: absolute;

    transition: 0.5s ease;
    background-color: rgb(254, 254, 254);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

#A1 { top: 4px; }

#A2 { top: 14px; }

#A3 { top: 24px; }

#C-01:checked ~ .D-01 #A1 {
    width: 42px;

    top: 14px;
    left: 0px;
    transform: rotate(45deg);
}

#C-01:checked ~ .D-01 #A2 {
    opacity: 0;
    transform: translateX(-20px);
}

#C-01:checked ~ .D-01 #A3 {
    width: 42px;
    
    top: 14px;
    left: 0px;
    transform: rotate(-45deg);
}

/* Header Section End */

.CL-03 {
    height: 28px;
    width: 50%;
    position: absolute;
    top: 5px;
    right: 1%;
}

#C-02 {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: -2%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

#C-03 {
    height: 100%;
    width: 28px;
    border: none;
    border-radius: 8px;
    position: absolute;
    right: 0;
    display: none;
    visibility: hidden;
}

.fa-search {
    color: gray;
    position: absolute;
    top: 6px;
    right: 4%;
    z-index: 1;
}

#CL-02 {
    width: 100%;
    height: 100vmax;
    position: fixed;
    background-color: rgb(42, 42, 42);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    
    transform: translateX(-110%);
    transition: 0.5s ease;
    z-index: 2;
}

#scroll {
    height: 92vh;
    width: 40%;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-self: right;
}

#scroll::-webkit-scrollbar {
    display: none;
  }

#scroll div {
    width: 100%;
    height: 12vmax;
    
    border: none;
    transition: 0.4s ease;
}

#scroll div:hover {
    background-color: rgb(255, 255, 255);
}

#scroll div:hover h2, #scroll div:hover i {
    color: rgb(0, 0, 0);
}

#scroll div h2 {
    color:#c3c3c3;
    font-size: 2vmax;
    transition: 0.4s ease;

    position: relative;
    top: 40%;
    left: 10%;
}

#scroll div i {
    color:#c3c3c3;
    margin-right: 5px;
    transition: 0.4s ease;
}

#scroll a {
    text-decoration: none;
}

#CL-03 {
    height: 25vmax;
    width: 98%;
    position: absolute;
    left: 1%;
}

#CL-03 div {
    border: none;
    position: absolute;
    transition: 0.5s ease;
    z-index: 1;
}

#CL-05:hover, #CL-06:hover, #CL-07:hover, #CL-08:hover {
    transform: scale(.995);
    background-color: rgba(15, 15, 15, 0.9);
}

#CL-03 div:hover h2 { transform: translateY(-2%); }

#CL-06:hover i, #CL-08:hover i { transform: scale(1.2); }

#CL-07:hover .fa-book { transform: scale(1.06) scale(1.005); }

#CL-05:hover .fa-gear { transform: rotate(90deg); }

#CL-06:hover #I-02 {
    transform: rotate(-30deg) scale(0.8);
}

#CL-06:hover #I-03 {
    transform: rotate(30deg) scale(0.7) translateY(-10%) translate(-10%);
}

#CL-07:hover #I-05 {
    transform: scale(2) translateY(60%) translate(-160%);
}

#CL-07:hover #I-06 {
    transform: scale(2) translateY(-60%) translate(160%);
}

#CL-07:hover #I-07 {
    transform: scale(2) translateY(-120%) translate(-160%);
} 

#CL-04 {
    height: 100%;
    width: 100%;
    border-radius: 8px;

    top: 4%;
    /* box-shadow: 0 0 10px rgb(0, 0, 0, .5); */
}

#H-03 {
    position: relative;
    left: 1%;
    top: 1%;
    color: rgb(0, 0, 0);
    transition: 0.5s ease;
    text-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#P-01 {
    position: relative;
    left: 1%;
    top: 1%;
    margin-right: 2%;
    font-size: 1.45vmax;
    color: rgb(0, 0, 0);
    transition: 0.5s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#H-01, #H-02, #H-04 {
    position: relative;
    text-align: center;
    top: 75%;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
    text-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fa-file, .fa-book, .fa-gear, .fa-school, .fa-align-left, .fa-pencil {
    scale: 6;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
    position: absolute;
    top: 38%;

    text-shadow: 0 0 3px #000;
}

#I-02, #I-03 {
    transform-origin: 0 100%;
    scale: 1;

    left: 0;
    top: 0;

    z-index: -1;
}

#I-03 {
    transform-origin: 100% 100%;
}

#CL-05 {
    height: 201%;
    width: 49.75%;
    background-color: rgb(45, 45, 45);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    top: 115%;
    display: flex;
    justify-content: center;

    
    scale: 0.8;
    transition: 0.5s ease;
}

#I-05, #I-06, #I-07 {
    transform-origin: 50% 50%;
    scale: 0.2;

    left: 0;
    top: 0;

    z-index: -1;
}

#CL-05:hover #C-09 ul li {
    transform: translateX(10%);
}

#CL-05:hover #C-09 ul {
    list-style:circle;
}

#C-09 {
    position: relative;
    top: 55%;
    left: 8%;
}

#C-09 ul {
    list-style: none;
}

#C-09 ul li {
    font-size: 2.2vmax;
    font-weight: 600;
    color: white;
}

#L-01 { transition: 0.4s ease; }

#L-02 { transition: 0.7s ease; }

#L-03 { transition: 1s ease; }

#L-04 { transition: 1.3s ease; }

#L-05 { transition: 1.6s ease; }

#H-04 { top: 40%; }

.fa-gear { top: 20%; }

#CL-06 {
    height: 100%;
    width: 49.75%;
    background-color: rgb(45, 45, 45);
    box-shadow: 0 0 10px rgb(0, 0, 0, .5);
    top: 115%;
    left: 50.25%;
    display: flex;
    justify-content: center;

    scale: 0.6;
    transition: 1.5s ease;
}

#CL-07 {
    height: 100%;
    width: 49.75%;
    background-color: rgb(45, 45, 45);
    box-shadow: 0 0 10px rgb(0, 0, 0, .5);
    top: 216%;
    left: 50.25%;
    display: flex;
    justify-content: center;

    scale: 0.6;
    transition: 1.5s ease;
}

#CL-08 {
    height: 200%;
    width: 100%;
    top: 317%;
}

.footer {
    width: 102%;
    height: 25vmax;
    background-color: #333;
    color: white;
    padding: 16px;
    text-align: center;
    

    position: absolute;
    top: 519%;
    left: -1%;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#H-10, #H-11, #H-12 {
    border-bottom: 2px solid #555;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 1.4vmax;
}

#F-P {
    font-size: 1vmax;
    text-align: center;
}

#F-01 {
    width: 30%;
    position: relative;
    left: 5%;
}

#F-02 ul {
    list-style: none;
    padding: 0;
}

#F-02 ul li {
    margin: 0.2vmax;
    font-size: 1.2vmax;
}

#F-02 ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

#F-02 ul li a:hover {
    color: #00bcd4;
}

#F-03 {
    width: 30%;
    position: relative;
    right: 5%;
}

#F-04 {
    position: relative;
    bottom: 10%;
}
