/* header Section */
header {
    padding: 17px;
    background-color: #ffd60a;

    position: sticky;
    
    z-index: 2;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Hamburg Menu Section */
#menu-button {
    visibility: hidden;
}

.hamburg-menu {
    height: 42px;
    width: 54px;

    top: 7.5px;
    left: 7.5px;
    position: absolute;
}

.hamburg-menu span {
    width: 54px;
    height: 3px;

    border: none;
    border-radius: 12px;

    left: 3px;
    position: absolute;

    transition: 0.5s ease;
    background-color:#f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#A1 { top: 4px; }

#A2 { top: 20px; }

#A3 { top: 36px; }

#menu-button:checked ~ .hamburg-menu #A1 {
    width: 63px;

    top: 21px;
    left: 0px;
    transform: rotate(45deg);
}

#menu-button:checked ~ .hamburg-menu #A2 {
    opacity: 0;
    transform: translateX(-20px);
}

#menu-button:checked ~ .hamburg-menu #A3 {
    width: 63px;
    
    top: 21px;
    left: 0px;
    transform: rotate(-45deg);
}

#tag-line {
    position: absolute;
    left: 12.5%;
    top: 3px;

    margin: 0 10px;
    font-size: 45px;
    font-family: "Comic Neue", serif;

    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

@media (max-width: 820px) {
    #tag-line {
        position: absolute;
        left: 10.5%;
        top: 5px;
        font-size: 40px;
        margin: 0 10px;
    }
}
  
@media (max-width: 480px) {
    header {
      padding: 8px;
    }

    #tag-line {
        position: absolute;
        left: 12%;
        top: 10px;
        font-size: 18px;
        margin: 0 10px;
    }

    .hamburg-menu {
      height: 28px;
      width: 36px;
  
      top: 5px;
      left: 5px;
      position: absolute;
    }

    .hamburg-menu span {
      width: 36px;
      height: 2px;
  
      border: none;
      border-radius: 8px;
  
      left: 2px;
      position: absolute;
  
      transition: 0.5s ease;
      background-color:#f4f4f4;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    #A1 { top: 4px; }
    #A2 { top: 14px; }
    #A3 { top: 24px; }

    #menu-button:checked ~ .hamburg-menu #A1 {
      width: 42px;
  
      top: 14px;
      left: 0px;
      transform: rotate(45deg);
    }
  
    #menu-button:checked ~ .hamburg-menu #A2 {
      opacity: 0;
      transform: translateX(-20px);
    }
  
    #menu-button:checked ~ .hamburg-menu #A3 {
      width: 42px;
      
      top: 14px;
      left: 0px;
    }
}

.search-bar {
    height: 42px;
    width: 50%;
    position: absolute;
    top: 7.5px;
    right: 0;
}

#search-bar-input {
    padding-left: 9px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 12px;
    position: absolute;
    left: -2%;
    font-size: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

#search-button {
    height: 100%;
    width: 42px;
    border: none;
    border-radius: 12px;
    position: absolute;
    right: 0;
    display: none;
    visibility: hidden;
}

.fa-search {
    color: gray;
    position: absolute;
    scale: 1.5;
    top: 12px;
    right: 5%;
    z-index: 1;
}

@media (max-width: 480px) {

  .search-bar {
    height: 28px;
    width: 50%;
    position: absolute;
    top: 5px;
    right: 0;
  }
  
  #search-bar-input {
    padding-left: 6px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size:medium;
    position: absolute;
    left: -2%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  }

  #search-button {
    height: 100%;
    width: 28px;
    border: none;
    border-radius: 8px;
    position: absolute;
    right: 0;
    display: none;
    visibility: hidden;
  }

  .fa-search {
    color: gray;
    position: absolute;
    scale: 1;
    top: 6px;
    right: 4%;
    z-index: 1;
  }

}

/* Header Section End */

/* Menu Section Start */

.menu {
    width: 512px;
    height: 515px;

    position: absolute;
    left: -300px;
    top: -300px;
    
    border: none;
    border-radius: 15vmax;

    scale: 0.5;
    transform: scale(0.5);
    transition: 0.5s ease;
    overflow-x: hidden;
    background-color: #ffc300;

    z-index: 1;
}

.options {
    width: 75%;
  
    position: absolute;
    top: 280px;
    left: 150px;
}

.options::-webkit-scrollbar { display: none; }

.options a { text-decoration: none;  }

.options div {
    width: 100%;
    padding: 10px;
    
    text-align: center;
    transform: scale(0);
    transition: 0.5s ease;
}

.options div h2 {
  color:#f4f4f4;
  font-size: 12px;
  transition: 0.4s ease;
}

.options div:hover { background-color:#f4f4f4; }

.options div:hover h2 { color: #1e1e1e; transform: scale(1.05); }

.options div h2 i { transition: transform 0.4s ease-in-out; }

#button-2:hover h2 i  { transform: rotate(15deg); }

#button-4:hover h2 i, #button-5:hover h2 i { transform: rotate(-15deg); }

#button-1:hover h2 i, #button-3:hover h2 i { transform: scale(1.05); }

@media (max-width: 480px) {
  .menu {
    width: 248px;
    height: 248px;

    left: -250px;
    top: -200px;
  }

  .options {
    top: 155px;
    left: 85px;
  }

  .options div { padding: 4px; }

  .options div h2 { font-size: 4px; }

}

/* Menu Section End */