@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Baloo Bhaijaan 2", serif;
    box-sizing: border-box;
}

html { overflow-x: hidden; }

body {
    min-height: 100vmax;
    background-color: #f4f4f4;
}

body::-webkit-scrollbar { display: none; }

a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 50px;
}

.structure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 96px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    border-radius: 8px;
    border: 2px solid black;

    overflow: hidden;
}

#title-class-6, #title-class-7, #title-class-8, #title-class-9, #title-class-10 {
    background-color: #2e5077da;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

table {
    width: 94vw;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #577BC1;
    color: #ffffff;
}
th:nth-child(even) {
    background-color: #344cb7cf;
}

@media(max-width : 480px) {
    .structure {
        width: 94vw;
        margin-top: 32px;
    }

    #title-class-6, #title-class-7, #title-class-8, #title-class-9, #title-class-10 { font-size: 0.8rem; }

    th { font-size: 0.7rem; }

    td { font-size: 0.6rem; }
}